
/* Newsについてのデザイン */
.secNews {
    display: none;
    /* display: flex;
    flex-wrap: wrap; */
}

.newsItem {
    margin-top: 10px;
    border-bottom: solid 1px red;
    display: flex;
}

.hiduke {
    width: 150px;
}

.newsTitle {
    width: 500px;
}

.newsToIchiran {
    align-items: center;
    text-align: right;
}